//Sass color variables
$text-primary: white;
$text-title: yellow;

$green: green;
$red: red;
$orange: orange;
$black: #000;

// links
$link-color: #4478A6;
$hover-color: $red;
$visited-color: $orange;

// Padding variables
$padding: 16px;